<% provide(:title, "home") %>
<div>
  <aside>
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div>
    <h3>投稿一覧</h3>
    <%= render 'shared/feed' %>
  </div>
</div>