@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
//
$gray-medium-light: #eaeaea;
ul, li {
  list-style: none;
}
input {
  width: 100%;
  height: 30px;
}

body{
  .post-sub, .post-content {
    width: 30%;
  }

  .log-check {
    width: 1.5rem;
  }

  .gravatar {
    border-radius: 50%;
    width: 30px;
  }

  li{
    .card-img-top {
      img {
        padding-left: 17.33px;
      }
    }
  }

  * {
    font-size: 1.5rem;
    line-height: 1.428;
  }

  a:link {
    color: black;
  }

  .header {
    background-color: #87CEEB;
  }
}

// /* universal */
// ul,li{
//   list-style: none;
// }
//
// body {
//   padding-top: 60px;
// }
//
// section {
//   overflow: auto;
// }
//
// textarea {
//   resize: vertical;
// }
//
// .center {
//   text-align: center;
//   h1 {
//     margin-bottom: 10px;
//   }
// }
//
// /* typography */
//
// h1, h2, h3, h4, h5, h6 {
//   line-height: 1;
// }
//
// h1 {
//   font-size: 3em;
//   letter-spacing: -2px;
//   margin-bottom: 30px;
//   text-align: center;
// }
//
// h2 {
//   font-size: 2.0em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
//   text-align: left;
//   font-weight: normal;
// }
//
// p {
//   font-size: 1.1em;
//   line-height: 1.7em;
// }
//
//
/* header */

#logo {
  float: left;
  margin-right: 10px;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }
}
//
// /* footer */
//
footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
    margin-top: 20px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.static{
  background-color: #EFF5F6;
  border-radius: 10px;
  max-width: 980px;
}

.static h2{
  text-align: left;
  margin-top: 20px;
}

.static h3{
  color: #404040;
  margin: 30px;
}

.static li{
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #505050;
}

.static p{
  margin-left: 15px;
  font-size: 1.0;
  color: #505050;
}

.last{
  text-align: right;
}