footer.footer
  small
    |  The CloneApp by 
    a[href="https://twitter.com/taro89apo"]
      | Takumi Kobayashi
  nav
    ul
      li
        - if user_signed_in?
          = link_to 'shared/micropost_form', remote: true, class: "btn btn-lg btn-primary" do
            i.fas.fa-camera
